{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "arrow-spacing": 2,
    "object-curly-spacing": [2, "always"],
    "no-multiple-empty-lines": [2, {"max": 1}],
    "id-length": [2, {"exceptions": ["$", "_",]}]
  },
  {
    "plugins": [
      "react"
    ]
  }
}
