@import "../../settings";

.component {
  background: $button-bg;
  color: $button-text;
  border: none;
  padding: 0.9em 1.5em;
  font-size: 0.85em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease-in-out 0.2s;

  &:hover {
    background: $button-bg-hover;
    color: $button-text-hover;
    transform: scale(1.05);
    transition: all ease-in-out 0.1s;
  }

  &_sm {
    font-size: 0.65em;
    padding: 0.75em 1em;
  }
  &_lg {
    font-size: 0.9em;
    padding: 1.05em 3.25em;
  }
  &_xlg {
    font-size: 1.25em;
    padding: 1.25em 3.5em;
  }
}
