@import "../../src/style";

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  @include container;
  background: $navigation-bg;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1em 0;
};

.links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  @include span(6 of 12);

  > li {
    padding: 0.5em 1em;
    text-align: center;
  }

  > a, a:link {
    font-size: 1em;
    font-weight: 300;
    color: $navigation-link-text;
    transition: color ease-in-out 0.15s;

    &:hover {
      color: $navigation-link-text-hover;
      transition: color ease-in-out 0.05s;
    }
  }
}

.content {
  margin-top: 3em;
  @include span(12 of 12);
};

.component {
  @include container;
  padding: 2em;
};