@import "../../settings";

.list {
  @include container;
}

.listItem {
  @include span(1 of 6);
}

.swatch, .color {
  display: block;
  @include container;
}

.swatch {
  padding: 2em 1em;
}

.color {
  position: relative;
  padding: 1em;
  font-size: 0.75em;
  font-weight: 700;
  text-align: center;
  background: white;
}

$colors: (
  red: $red,
  yellow: $yellow,
  teal: $teal,
  black: $black,
  gray: $gray,
  white: $white,
);

$hovers: (
  red: $red-hover,
  yellow: $yellow-hover,
  teal: $teal-hover,
  black: $black-hover,
  gray: $gray-hover,
  white: $white-hover,
);

@function match($list, $colorName) {
  @each $color in $list {
    $index: index($color, $colorName);

    @if $index {
      $return: if($index == 1, 2, $index);
      @return nth($color, $return);
    }
  }
}

@each $colorName, $color in $colors {
  .swatch_#{$colorName} {
    color: $color;
    background: $color;

    ~ .color {
      color: darken($color, 20%);
      border-bottom: 10px solid transparentize($color, 0.5);
    }

    &:hover {
      ~ .color {
        color: match($hovers, $colorName);
        border-bottom: 10px solid transparentize(match($hovers, $colorName), 0.75);
      }
      background-color: match($hovers, $colorName);
      transition: all ease-in-out 0.5s;
    }
  }

  .#{$colorName} {
    color: $white;
    background: $color;

    &:hover {
      color: $color;
      background: match($hovers, $colorName);
    }
  }
}