@import "../../settings";

.list {
  @include container;
}

.listItem {
  @include span(1 of 6);
}

.swatch, .color {
  display: block;
  @include container;
}

.swatch {
  padding: 2em 1em;
}

.color {
  position: relative;
  padding: 1em;
  font-size: 0.75em;
  font-weight: 700;
  text-align: center;
  background: white;
}

$colors: (
  red: $red-hover,
  tan: $tan-hover,
  teal: $teal-hover,
  black: $black-hover,
  gray: $gray-hover,
  white: $white-hover,
  );

@each $color, $hover in $colors {
  .swatch_#{$color} {
    color: #{$color};
    background-color: #{$color};

    ~ .color {
      color: darken($color, 20%);
      border-bottom: 10px solid transparentize($color, 0.5);
    }

    &:hover {
      ~ .color {
        color: $hover;
        border-bottom: 10px solid transparentize($color, 0.75);
      }
      background-color: $hover;
      transition: all ease-in-out 0.5s;
    }
  }
}