@import "../../settings";

.swatch {
  @include span(1 of 5);
  padding-top: 3em;
  margin-right: 1em;
  border: 5px solid fade-out($white, 0.5);
}

.hex, .variable {
  display: block;
  position: relative;
  padding: 0.5em;
  font-weight: 700;
  background: fade-out($black, 0.5);
}

$colors: red tan teal black white;

@each $color in $colors {
  .swatch_#{$color} {
    color: #{$color};
    background-color: #{$color};
  }
}