$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

$red: #C84420;
$tan: #F5EAB0;
$teal: #267765;
$black: #23322F;
$white: #EAE9DC;

$danger: $red;
$warning: $tan;
$disabled: $black;
$success: $teal;

$body-bg: $white;

$sidebar-bg: $red;
$sidebar-link-text: $white;
$sidebar-link-text-hover: darken($red, 20%);

$primary: $red;
$secondary: $teal;

$primary-link-text: $primary;

$component-header: $black;
$button-bg: $secondary;
$button-text: lighten($button-bg, 20%);
$button-bg-hover: darken($button-bg, 5%);
$button-text-hover: darken($button-bg-hover, 10%);
