$primary-font-family: $base-font-family;
$secondary-font-family: "Playfair Display", serif;

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

$red: #C84420;
$tan: #F5EAB0;
$teal: #267765;
$black: #23322F;
$gray: #9EAFAD;
$white: #EAE9DC;

$red-hover: transparentize($red, 0.5);
$tan-hover: transparentize($tan, 0.5);
$teal-hover: transparentize($teal, 0.5);
$black-hover: transparentize($gray, 0.5);
$gray-hover: transparentize($gray, 0.75);
$white-hover: transparentize($gray, 0.95);

$danger: $red;
$warning: $tan;
$disabled: $black;
$success: $teal;

$body-bg: $white;
$header: $black;
$text: $black;

$navigation-bg: $red;
$navigation-link-text: $white;
$navigation-link-text-hover: darken($red, 20%);

$primary: $red;
$secondary: $teal;

$primary-link-text: $primary;

$component-header: $black;
$button-bg: $teal;
$button-text: lighten($button-bg, 30%);
$button-bg-hover: $teal-hover;
$button-text-hover: darken($button-bg-hover, 10%);