$primary-font-family: $base-font-family;
$secondary-font-family: "Playfair Display", serif;

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

$red: #C84420;
$yellow: #F5EAB0;
$teal: #267765;
$black: #23322F;
$gray: #9EAFAD;
$white: #EAE9DC;

$red-hover: darken($red, 10%);
$yellow-hover: lighten($yellow, 10%);
$teal-hover: darken($teal, 10%);
$black-hover: darken($gray, 10%);
$gray-hover: darken($gray, 10%);
$white-hover: transparentize($white, 0.5);

$danger: $red;
$warning: $yellow;
$disabled: $gray;
$success: $teal;

$danger-hover: $red-hover;
$warning-hover: $yellow-hover;
$success-hover: $teal-hover;

$body-bg: $white;
$header: $black;
$text: $black;

$navigation-bg: $red;
$navigation-link-text: $white;
$navigation-link-text-hover: darken($red, 20%);

$primary: $red;
$secondary: $teal;

$primary-link-text: $primary;

$component-header: $black;
$button-bg: $black;
$button-text: $white;
$button-bg-hover: $gray;
$button-text-hover: $white;