@import "settings";

html, body {
  font-family: $base-font-family;
  font-weight: 300;
  background: $body-bg;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $secondary-font-family;
  font-weight: 700;
  color: $header;
}

strong {
  font-family: $secondary-font-family;
  font-weight: 700;
  font-style: italic;
}

ul {
  list-style: none;
  padding: 0;
  @include container;
}

a, a:link {
  color: $primary-link-text;
  text-decoration: none;
}